<h1><%= @template.subject %></h1>
<%= link_to 'このお題に挑戦！', template_duplicate_path, class: 'btn btn-primary' %>
<% @template.pages.each do |page| %>
  <p><%= page.title %>: <%= page.author.pen_name %>: <%= link_to '見る', page_path(page) %></p>
<% end %>
