<% if @page.template_id.present? %>
  <%= f.hidden_field :template_id, value: @page.template_id %>
<% end %>
<div>

</div>
<div class="ui big form">
  <div class="ui secondary pointing menu js-postMenu">
    <a class="item active" data-tab="main">本編 </a>
    <a class="item" data-tab="option">オプション </a>
    <div class="right menu">
      <span class="item">
        <% if @page.published? %>
          <span class="ui basic blue label">公開中</span>
        <% else %>
          <span class="ui basic label">非公開</span>
        <% end %>
      </span>
    </div>
  </div>
  <div class="ui right floated tiny buttons">
    <%= f.submit '下書き保存', name: 'draft', class: 'ui basic blue button' %>
    <%= f.submit '公開', class: 'ui blue button' %>
  </div>
  <div class="ui tab active" data-tab="main">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form__input', placeholder: 'タイトルを書く'%>
    </div>
    <div class="field">
      <%= f.text_area :story, class: 'form__textarea fixed--height js-pageStory', placeholder: '小説を書く...' %>
    </div>
  </div>
  <div class="ui tab" data-tab="option">
    <div class="field">
      <%= f.label 'カテゴリー' %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, class: 'ui fluid search dropdown', multiple: true, prompt: '選択してください') %>
    </div>
    <div class="field">
      <%= f.label 'タグ' %>
      <ul class="tag-it"></ul>
      <%= hidden_field_tag 'tags', @page.tag_list, { class: 'js-tagHidden' } %>
      <%# text_field_tag 'page[tag_list]', @page.tag_list.join(','), class: 'form__input', placeholder: 'タグを書く...' %>
    </div>
    <div class="field">
      <%= f.label :summary %>
      <%= f.text_area :summary %>
    </div>
    <% f.label :cover, class: 'ui button' do %>
        画像を選択
        <%= f.attachment_field :cover, style: 'display:none;' %>
    <% end %>

    <%= f.submit 'プレビュー', name: 'preview', class: 'ui button', formtarget: 'blank' %>
    <%= link_to '削除',  @page, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'ui basic red button' %>
  </div>
</div>

<%= javascript_pack_tag 'page' %>
