<% if @page.template_id.present? %>
  <%= f.hidden_field :template_id, value: @page.template_id %>
<% end %>
<% if @page.errors.any? %>
  <div class="ui negative message">
    <ul>
      <% @page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="ui big form">
  <div class="ui secondary pointing menu js-postMenu">
    <a class="item active" data-tab="main">本編 </a>
    <a class="item" data-tab="option">オプション </a>
    <div class="right menu">
      <span class="item">
        <% if @page.published? %>
          <span class="ui basic blue label">公開中</span>
        <% else %>
          <span class="ui basic label">非公開</span>
        <% end %>
      </span>
    </div>
  </div>
  <div class="ui tab active" data-tab="main">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form__input', placeholder: 'タイトルを書く'%>
    </div>
    <div class="field">
      <%= f.text_area :story, class: 'form__textarea fixed--height js-pageStory', placeholder: '小説を書く...' %>
    </div>
  </div>
  <div class="ui tab" data-tab="option">
    <div class="ui stackable two column grid">
      <div class="column">
        <div class="field">
          <%= f.label 'カテゴリー' %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, class: 'ui fluid search dropdown', multiple: true, prompt: '選択してください') %>
        </div>
        <div class="field">
          <%= f.label 'タグ' %>
          <ul class="tag-it"></ul>
          <%= hidden_field_tag 'tags', @page.tag_list, { class: 'js-tagHidden' } %>
          <%# text_field_tag 'page[tag_list]', @page.tag_list.join(','), class: 'form__input', placeholder: 'タグを書く...' %>
        </div>
        <div class="field">
          <%= f.label :summary %>
          <%= f.text_area :summary %>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label for="">ブックカバー</label>
          <div class="ui hidden divider"></div>
          <div class="js-bookCover">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="" class="ui rounded bordered image">
          </div>
        </div>
        <div class="field">
          <a href="#" class="ui basic button js-imageModal">ブックカバー検索</a>
          <%= f.hidden_field :book_cover, {class: 'js-coverUrl'} %>
          <%= f.hidden_field :image_id, {class: 'js-coverId'} %>
        </div>
      </div>

    <div class="ui modal js-modal">
      <i class="close icon"></i>
      <div class="header">
        <div class="ui search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="検索...">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
      <div class="image scrolling content" style="min-height: 500px">
        <div class="image">
          <div class="ui small images js-responseImages"></div>
        </div>
      </div>
      <div class="actions">
        <div class="ui button">Cancel</div>
      <div class="ui button">OK</div>
    </div>
  </div>
  </div>
</div>
  <div class="ui bottom fixed secondary menu p-page__bottom">
    <div class="ui container">
      <div class="item">
        <%= f.submit '下書き保存', name: 'draft', class: 'ui basic blue large button' %>
      </div>
      <div class="item">
        <%= f.submit '公開', class: 'ui blue large button' %>
      </div>
      <div class="item">
        <%= link_to '削除',  @page, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'ui basic red button' %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'page' %>
