<div class="ui container">
  <div class="ui form">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :summary %>
      <%= f.text_area :summary %>
    </div>
    <div class="field">
      <%= f.label :story %>
      <%= f.text_area :story%>
    </div>
    <div class="field">
      <%= f.label 'page[tag_list]' %>
      <%= text_field_tag 'page[tag_list]', @page.tag_list.join(',') %>
    </div>
    <div class="field">
      <%= f.collection_select(:category_id, Category.all, :id, :name, class: 'ui field dropdown') %>
    </div>
    <div class="field">
      <%= f.label :cover %>
      <%= f.attachment_field :cover, class: 'ui button' %>
    </div>
    <div class="field">
        <%= f.submit '下書き保存', name: 'draft', class: 'ui button' %>
        <%= f.submit '公開', class: 'ui button' %>
    </div>
  </div>
</div>

<div>

</div>



