<% if @page.template_id.present? %>
  <%= f.hidden_field :template_id, value: @page.template_id %>
<% end %>

<div class="ui form">
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'カテゴリー' %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, class: 'ui fluid search dropdown', multiple: true, prompt: '') %>
  </div>

  <div class="field">
    <%= f.label 'タグ' %>
    <%= text_field_tag 'page[tag_list]', @page.tag_list.join(','), class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :summary %>
    <%= f.text_area :summary %>
  </div>

  <div class="field">
    <%= f.label :story %>
    <%= f.text_area :story %>
  </div>

    <%= f.label :cover, class: 'ui button' do %>
        画像を選択
        <%= f.attachment_field :cover, style: 'display:none;' %>
    <% end %>


  <%= f.submit '下書き保存', name: 'draft', class: 'ui button' %>
  <%= f.submit '公開', class: 'ui button' %>
  <%= f.submit 'プレビュー', name: 'preview', class: 'ui button', formtarget: 'blank' %>
  <%= link_to '削除',  @page, method: :delete, data: { confirm: 'You sure?' }, class: 'ui button' %>



</div>

<script type="text/javascript" charset="utf-8">
$('select').dropdown();
</script>
