<div class="ui link cards">
      <% @pages.each do | page | %>
        <% if page.is_open %>

        <div class="card">
          <div class="image">
            <%= attachment_image_tag(page, :cover, :fill, 100, 100, format: 'jpg', class: 'card-img-top') %>
          </div>
          <div class="content">
            <div class="header"><%= page.title %></div>
              <div class="meta">
                <a><%= page.author.pen_name %></a>
              </div>
              <div class="description">
                <%= link_to '詳細', page_path(page), class: 'btn btn-primary' %>
                <% if current_author == page.author %>
                  <%= link_to '編集', edit_page_path(page), class: 'btn btn-primary' %>
                <% end %>
              </div>
          </div>
          <div class="extra content">
            <span class="right floated">
            Joined in 2013
            </span>
            <span>
              <i class="user icon"></i>
              75 Friends
            </span>
          </div>
        </div>

        <% end %>
    <% end %>
  </div>
