<div class="ui raised link card p-card">
  <div class="image js-card"><!-- blurring dimmable image  -->
    <div class="ui dimmer">
      <div class="content p-card__content">
        <div class="header">
         aa
        </div>
        <div class="center">
          <div class="ui left aligned">
            <%= link_to author_path page.author do %>
                <%= attachment_image_tag(page.author, :image, :fill, 100, 100, format: 'jpg', class: 'ui avatar image') %>
                <%= page.author.pen_name %>
            <% end %>
          </div>
          <div class="ui hidden divider"></div>
          <p class="p-card__text"><%= page.summary %></p>
          <div class="ui hidden divider"></div>
          <div class="ui mini labels">
            <% page.tags.each.with_index do |tag, index| %>
                <% break if index > 2 %>
                <%= link_to tag_pages_path(name: tag.name), class: 'ui basic blue label' do %>
                    <i class="hashtag icon"></i><%= tag %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if page.cover_id.nil? %>
      <img src="<%= page.cover_url || 'https://images.unsplash.com/photo-1478098711619-5ab0b478d6e6' %>" alt="">
    <% else %>
      <%= attachment_image_tag(page, :cover, :fill, 200, 100, format: 'jpg') %>
    <% end %>
  </div>
  <div class="content">
    <%= link_to page.title, page_path(page), class: 'header' %>
    <div class="meta">
      <a><%= link_to page.category.name, category_pages_path(name: page.category.name) %></a>
    </div>
  </div>
  <div class="extra content">
    <div class="left floated js-like" id="page-<%= page.id %>">
      <% if page.favorite_author(current_author) %>
          <%= link_to dislike_page_path(page.id), remote: true, method: :delete do %>
              <i class="red heart icon"></i><%= page.favorites.count %>
          <% end %>
      <% else %>
          <%= link_to like_page_path(page.id), remote: true, method: :post do %>
              <i class="empty red heart icon"></i><%= page.favorites.count %>
          <% end %>
      <% end %>
    </div>
    <div class="right floated">
      <%= l page.created_at, format: :short %>
    </div>
  </div>
</div>
