<div class="ui left vertical menu sidebar js-sidebar">
  <% if author_signed_in? %>
    <%= link_to '作品を投稿する', new_page_path, class: 'ui inverted basic button item' %>
    <%= link_to 'プロフィール', author_path(current_author), class: 'item'%>
    <%= link_to 'ログアウト', destroy_author_session_path, method: :delete, class: 'item' %>
  <% else %>
    <%= link_to '新規登録', new_author_registration_path, class: 'item' %>
    <%= link_to 'ログイン', new_author_session_path, class: 'item' %>
    <%= link_to 'twitter', author_twitter_omniauth_authorize_path, class: 'item' %>
  <% end %>
</div>
