<div class="ui left vertical menu sidebar inverted js-sidebar">
  <div class="item">
    <div class="ui fluid">
      <%= render 'shared/search_bar' %>
    </div>
  </div>
  <% if author_signed_in? %>
    <%= link_to  new_page_path, class: 'item' do %>
      <span class="ui inverted fluid basic small button">投稿する</span>
    <% end %>
    <%= link_to author_path(current_author), class: 'item' do %>
      <span class="ui inverted fluid basic small button">プロフィール</span>
    <% end %>
    <%= link_to destroy_author_session_path, method: :delete, class: 'item' do %>
      <span class="ui inverted fluid basic small button">ログアウト</span>
    <% end %>
  <% else %>
    <%= link_to new_author_registration_path, class: 'item' do %>
      <span class="ui inverted fluid basic small button">新規登録</span>
    <% end %>
    <%= link_to new_author_session_path, class: 'item' do %>
      <span class="ui inverted fluid basic small button">ログイン</span>
    <% end %>
  <% end %>
  <div class="item">
    <div class="fitted divider"></div>
    <h3>カテゴリー</h3>
  </div>
  <% Category.all.each do |category| %>
    <%= link_to category.name, category_pages_path(name: category.name), class: 'item' %>
  <% end %>

</div>
